$grid-cols-count: 18;

$screen-xs-max: 768px; //ExtraSmall Devices Max Width
$screen-sm-max: 991px; //Small Devices Max Width
$screen-md-max: 1200px; //Medium Devices Max 

$breakpoints: (sm: $screen-xs-max,
    md: $screen-sm-max,
    lg: $screen-md-max);

// main variables

// FONTS

// MONTSERRAT
$mainFont_ExtraLight: "Montserrat_ExtraLight";
$mainFont_Light: "Montserrat_Light";
$mainFont_SemiBold: "Montserrat_SemiBold";
$mainFont_Bold: "Montserrat_Bold";
$mainFont_ExtraBold: "Montserrat_ExtraBold";
$mainFont: "Montserrat_Regular";


// OPEN SANS
$secondaryFont_ExtraLight: "OpenSans_ExtraLight";
$secondaryFont_Light: "OpenSans_Light";
$secondaryFont_SemiBold: "OpenSans_SemiBold";
$secondaryFont_Bold: "OpenSans_Bold";
$secondaryFont: "OpenSans_Regular";

// COLORS
$main-background-color: #ebebeb;
$selection-background-color: #ccc1c1;
$main-section-background-color: #ffffff;
$main-font-color: #7e807e;
$theme-color: #dd5555;